@import '@/styles/variables.scss';

@mixin container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.error-box {
  @include container;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: $error-color;
  border-radius: 17px;
}

.message {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;

  @include mq(md) {
    font-size: 1.2rem;
  }
}
