@import '@/styles/variables.scss';

.layout_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - $header-height);
}
