@import '@/styles/variables.scss';

.header_main {
  background-color: #1f2937;
  width: 100%;
  height: $header_height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header_title {
  font-weight: 600;
  font-size: 3.2rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  :hover {
    cursor: pointer;
  }
}
