@import '@/styles/variables.scss';

.header_main {
  background-color: #1f2937;
  width: 100vw;
  height: $header_height;
}

.header_title {
  font-weight: 600;
  font-size: 3.2rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
}
