@import '@/styles/variables.scss';

.tab {
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 1.6rem;
  color: $primary-color;
  padding-bottom: 0.4rem;

  :hover {
    cursor: pointer;
  }

  @include mq(md) {
    width: 20%;
    font-size: 1.2rem;
  }
}

.tab-selected {
  @extend .tab;
  border-bottom: 2px solid $secondary-color;
}

.label {
  color: $secondary-color;
}

.label-selected {
  color: $primary-color;
}

.note {
  color: $secondary-color;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}
