html {
  font-size: 62.5%;
}

body {
  color: #4b5563;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

h2,
h3,
p {
  margin-block-start: 0.4rem;
  margin-block-end: 0.4rem;
}
