@import '@/styles/variables.scss';

html {
  font-size: 62.5%;
}

body {
  color: $primary-color;
  line-height: 1.625;
  letter-spacing: 0.025em;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

h2,
h3,
p,
ul {
  margin-block-start: 0.4rem;
  margin-block-end: 0.4rem;
}

ul {
  padding-inline-start: 0px;
}
